body{
    background: antiquewhite;
}
h1  {
    color: yellow;background: blue;
}
a {
    text-decoration: none;
    color: black;
}
p  {
    background: yellow;
    color: blue;
}
.family{background: aqua}
