.wrap{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 10px;
}
.a{
    width: 100%;
    height: 100px;
    background: yellow;
}
.father{
    width: 100%;
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
}
.bcde{
    width: 75%;
    height: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.f{
    width: 25%;
    height: 500px;
    background: blue;
}
.b{
    width: 100%;
    height: 250px;
    background: green;
}
.cde{
    height: 250px;
    display: flex;
    column-gap: 10px;
}
.st{
    width: 33.3%;
    background: red;
}
.stil{
    border-radius: 20px;
}

@media screen and (max-width: 600px){

    .a{
        height: 70px;
    }
    .father{
        flex-direction: column;
    }
    .bcde{
        width: 100%;
        height: 300px;
    }
    .b{
        height: 70%;
    }
    .cde{
        height: 30%;
    }
    .f{
        width: 100%;
        height: 70px;
    }
}
